Makefile
Makefile.in

autom4te.cache
aclocal.m4
config.h.in
configure
config.guess
config.status
config.sub
config.log
libtool
ltmain.sh
compile
depcomp
missing
install-sh
stamp-h?

.deps
*.o

usnic_tools.spec

usnic_devinfo
